body {
  font-family: sans-serif;
}
main {
  font-size: 16px;
  color: #303846;
  line-height: 1.5;
}
h1 {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  font-size: 1.8em;
  margin-top: 0;
  margin-bottom: 0.5em;
}
header {
  position: fixed;
  background-color: #fff;
  height: 60px;
  padding: 5px 20px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-mt {
  margin-top: 70px;
}
.logo-d img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 10px;
}
nav li {
  display: inline-block;
  margin-left: 10px;
}
nav li:nth-child(1) {
  margin-left: 0;
}
.banner-d {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}
.banner-font {
    color: #fff;
    font-size: 1.3em;
}
.banner-backImg {
  background-image: url(images/banner.png);
  background-position: center;
  background-size: cover;
}
.banner-d img {
  width: 200px;
  height: 200px;
}
.ban-content-d {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.banner-d .a-border {
  border: 2px solid white;
  border-radius: 10px;
}
.banner-d .a-disloc {
  margin: 0 10px;
  padding: 15px;
}
.banner-d .a-font {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}
.banner-d a:link {
  color: white;
}
.banner-d .m-tb {
  margin-top: 10px;
  margin-bottom: 30px;
}
.info-1, .info-2, .info-3 {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.info-2, .info-3 {
    align-items: center;
}
.info-1 .info-disCont1 {
 width: 30%;
 padding: 60px 0;
}
.info-2 .info-disCont2 {
 padding: 60px 0;
 width: 45%;
}
.info-3 .info-disCont3 {
 padding: 60px 0;
 width: 45%;
}
.info-bc {
  background-color: #f7f7f7;
}
.info-2 img {
  width: 30%;
}
.info-3 img {
  width: 30%;
}
