/* Основные стили*/
body {
  font-family: sans-serif;
}
main {
  font-size: 16px;
  color: #303846;
  line-height: 1.5;
}
h1 {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  font-size: 1.8em;
  margin-top: 0;
  margin-bottom: 0.5em;
}
/* Стили для header */
header {
  position: fixed;
  background-color: #fff;
  height: 60px;
  padding: 5px 20px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-mt {
  margin-top: 70px;
}
.logo-d img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 10px;
}
nav li {
  display: inline-block;
  margin-left: 10px;
}
nav li:nth-child(1) {
  margin-left: 0;
}
/* Стили баннера */
.banner-d {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}
.banner-font {
    color: #fff;
    font-size: 1.3em;
}
.banner-backImg {
  background-image: url(images/banner.png);
  background-position: center;
  background-size: cover;
}
.banner-d img {
  width: 200px;
  height: 200px;
}
.ban-content-d {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.a-border {
  border: 2px solid white;
  border-radius: 10px;
}
.a-disloc {
  padding: 15px;
}
.a-font {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}
.banner-d a:link {
  color: white;
}
.banner-d .m-tb {
  margin-top: 10px;
  margin-bottom: 30px;
}
/* Стили основного контента */
.info-1, .info-2, .info-3 {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.info-2, .info-3 {
    align-items: center;
}
.info-1 .info-disCont1 {
 width: 30%;
 padding: 60px 0;
}
.info-2 .info-disCont2 {
 padding: 60px 0;
 width: 45%;
}
.info-3 .info-disCont3 {
 padding: 60px 0;
 width: 45%;
}
.grey-bc {
  background-color: #f7f7f7;
}
.info-2 img {
  width: 30%;
}
.info-3 img {
  width: 30%;
}
/* Стили для формы */
.form-disloc {
  width: 50%;
  margin: 0 auto;
  padding: 60px 0;
}
.form-color {
  color: #09d3ac;
  border-color: #09d3ac;
}
.font-color {
  color: black;
}
.font-style {
  font-size: 1.3em;
  font-weight: bold;
}
.font-legend {
  font-size: 1.7em;
  font-weight: bold;
}
.form-contentDisloc {
  margin: 10px auto;
}
.flex-cont {
 padding: 10px;
}
.button-style {
  font-size: 1em;
  font-weight: bold;
  border: 2px solid #09d3ac;
  border-radius: 10px;
  padding: 15px;
  color: #09d3ac;
  width: 200px;
  margin-top: 10px;
}
.form-border {
  border: 1px solid black;
  border-radius: 5px;
  height: 25px;
  width: 295px;
}
.float-r {
  float: right;
}
.dropped-menu {
  width: 300px;
  height: 35px;
}
.padding {
  padding: 20px 10px;
}
.zagolov-margin {
  margin-left: 120px;
  font-size: 2.5em;
}
/* Стили для footer */
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #303846;
}
.foot-logo img {
  width: 45px;
  height: 45px;
  vertical-align: middle;
  margin-right: 20px;

}
.flex-container div {
  padding: 60px 0;
}
.logo-text {
  font-weight: bold;
  font-size: 1.2em;
}
.foot-font {
  color: white;
}
.centri li {
  padding: 3px;
}
