/* Переменные */
:root {
  --dark: #303846;
  --white: #fff;
  --grey: #f7f7f7;
  --black: #000;
  --light-grey: #ccc;
  --turquoise: #09d3ac;
  --dark-grey: #303846;
}
:root {
  --height-header: 60px;
}

/* Основные стили*/
* {
  box-sizing: border-box;
}
p, ul {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  font-size: 16px;
  color: var(--dark-grey);
  line-height: 1.5;
  margin: 0;
}
h1 {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  font-size: 1.8em;
  margin-top: 0;
  margin-bottom: 0.5em;
}
.m-10-0-30-0 {
  margin: 10px 0 30px 0;
}
.pdg-60-20 {
  padding: 60px 20px;
}
.pdg-20-10 {
  padding: 20px 10px;
}
.float-r {
  float: right;
}
.pdg-10 {
 padding: 10px;
}
.container-mt {
  margin-top: var(--height-header);
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.align-i-start {
  align-items: flex-start;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.text-center {
  text-align: center
}

/* Стили фонового цвета */
.white-bgc {
  background-color: var(--white);
}
.dark-bgc {
  background-color: var(--dark);
}
.grey-bgc {
  background-color: var(--grey);
}

/* Общие стили шрифтов */
.f-w-bold {
  font-weight: bold;
}

/* Стили ссылок */
a:link {
  text-decoration: none;
}

/* Общие cтили кнопок */
.btn {
  border: 2px solid var(--white);
  border-radius: 10px;
  padding: 15px;
  color: var(--white);
  text-decoration: none;
}

/* Стили фоновых изображений */
.bg-space {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
}

/* Стили для header */
.header {
  height: var(--height-header);
  padding: 5px 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.1em;
}
.header a {
  color: var(--black);
}
.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header-logo {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 10px;
}
.header-font a:link {
  color: var(--black);
}
.header li {
  display: inline-block;
}
.nav-elements {
  gap: 15px;
}
.nav-input {
  display: none;
}
/* Стили основного блока */

/* Стили баннера */
.poster-font {
  color: var(--white);
  font-size: 1.3em;
}
.poster-logo {
  width: 200px;
  height: 200px;
}
/* Стили основного контента */
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;;
}
.img-area {
  width: 35%;
}
.img-info {
  width: 100%;
  height: auto;
}
.info-block {
  gap: 170px;
}

/* Стили для формы */
.form-container {
  width: 50%;
  margin: 0 auto;
}
.form-color {
  color: var(--turquoise);
  border-color: var(--turquoise);
}
.font-black {
  color: var(--black);
}
.form-font-size {
  font-size: 1.3em;
}
.font-legend {
  font-size: 1.7em;
}
.mrg-10-0 {
  margin: 10px 0;
}
.user-info-box {
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  height: 27px;
  width: 195px;
}
.dropped-select {
  width: 200px;
  height: 35px;
}
.btn-form {
  border-color: var(--turquoise);
  color: var(--turquoise);
  width: 200px;
  margin-top: 10px;
  background-color: transparent;
}

/* Стили для footer */
.footer {
  color: var(--white);
}
.footer a {
  color: var(--white);
}
.foot-logo {
  width: 45px;
  height: 45px;
  vertical-align: middle;
  margin-right: 20px;
}
.list-element li {
  padding: 3px;
}

/* Медиа запросы */
@media screen and (max-width: 1010px) {
  .form-container {
    width: 70%;
  }
}
@media screen and (max-width: 780px) {
  .introduction {
    justify-content: center;
  }
 .w-30 {
   width: 50%;
 }
 .w-40 {
   width: 50%;
 }
 .info-block {
   gap: 80px;
 }
}
@media screen and (max-width: 730px) {
  .form-container {
    width: 90%;
  }
}
@media screen and (max-width: 710px) {
  :root {
    --height-header: auto;
  }
  .nav-label::before {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../images/menu.svg);
    background-size: cover;
    cursor: pointer;
    content: "";
  }
  .nav {
    display: none;
  }
  .nav-input:checked + .nav{
    display: block;
  }
  .nav-elements {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 620px) {
  .container-mt {
    margin-top: 40px;
  }
  .poster-logo {
    width: 150px;
    height: 150px;
  }
  .main-title {
    font-size: 2em;
  }
  .footer-logo-area {
    order: 1;
  }
  .footer {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  .list-element {
    list-style-type: none;
  }
}
@media screen and (max-width: 540px) {
  .form-container {
    width: auto;
  }
}
@media screen and (max-width: 510px) {
  .header {
    gap: 20px;
  }
  .nav-elements li{
    width: 100%;
    text-align: right;
  }
  .introduction {
    gap: 20px;
  }
  .w-30 {
    width: 100%;
  }
  .w-40 {
    width: 100%;
  }
  .img-area {
    width: 100%;
    order: 1;
  }
  .font-legend {
    font-size: 1.2em;
  }
  .form-font-size {
    font-size: 1.1em;
  }
  .dropped-select {
    width: 150px;
  }
}
@media screen and (max-width: 440px) {
  .user-info-box {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .main-title {
    font-size: 1.4em;
  }
  h2 {
    font-size: 1.4em;
  }
}